.title {
  display: flex;
  justify-content: center;

  color: royalblue;
  font-size: larger;
  background-color: lightblue;
  padding-bottom: 50px;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

#recent-searches-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
