.title {
  display: flex;
  justify-content: center;

  color: royalblue;
  font-size: 100px;
  font-weight: 100px;
  background-color: lightblue;
  padding-bottom: 50px;
  padding-top: 50px;
}

.card-header {
  font-size: xx-large;
}
